// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

#include "cn9130-db-A.dts"

/ {
	model = "Model: Marvell CN9130 development board (CP NOR) setup(C)";
	compatible = "marvell,cn9130-db-C", "marvell,cn9130-db-A",
		     "marvell,armada-ap807-quad", "marvell,armada-ap807";

	cp0 {
		config-space {
			/delete-node/cp0_pcie0;
		};
	};
};

&cp0_pci_ep_uio {
	status = "okay";
};

&cp0_pcie_ep {
	status = "okay";
};
